// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$uid-white:           #fff;
$uid-black:           #000;
$uid-dark-primary:    #1976D2;
$uid-light-primary:   #BBDEFB;
$uid-primary:         #2196F3;
$uid-text-icons:      #FFFFFF;
$uid-accent:          #00BCD4;
$uid-primary-text:    #212121;
$uid-secondary-text:  #757575;
$uid-divider-color:   #BDBDBD;


// Background Colors
$bg-color-gray:         #fafafa;


// Border
$color-border:          #ECF0F1;


// Links
