<div class="container is-fluid has-text-grey-darker">
  <div class="columns is-multiline is-gapless">
    <mat-card class="course__column column is-half" *ngFor="let course of (courses$ | async).entities.results">
      <mat-card-content class="course">
        <div class="course__details columns is-gapless">
          <div class="course__thumbnail">
            <img class="thumbnail" [src]="course.image_240x135" alt="" />
          </div>

          <div class="course__description">
            <div class="course__title is-size-5">
              {{ course.title }}
            </div>

            <div class="course__instructors columns is-gapless">
              <div class="column is-4 is-clearfix level level-left" *ngFor="let instructor of course.visible_instructors; let i = index">
                <ng-container *ngIf="i < 2">
                  <div class="is-pulled-left">
                    <img class="instructor__thumbnail" [src]="instructor.image_50x50" alt="">
                  </div>

                  <div class="instructor__info is-size-7 is-pulled-left">
                    <div class="instructor__name">
                      {{ instructor.display_name | limitText: 28 }}
                    </div>

                    <div class="instructor__job-title">
                      {{ instructor.job_title | limitText: 28 }}
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <div class="course__progress">
          <mat-progress-bar mode="determinate" color="primary" value="40"></mat-progress-bar>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
