@import 'settings/colors';

.course {
  overflow: hidden;

  background-color: #fff;

  &__column {
    position: relative;

    margin-bottom: 1.5rem !important;

    &:nth-child(odd) {
      left: -16px;
    }

    &:nth-child(even) {
      right: -16px;
    }
  }

  &__thumbnail {
    height: 134px;
  }

  &__details {
    margin-bottom: 0 !important;
  }

  &__title {
    margin-bottom: 1rem;

    font-weight: bold;
  }

  &__description {
    margin-left: 1rem;
    width: 87%;
  }

  &__progress {
    border-top: 1px solid $uid-divider-color;
    padding: 1rem;

    background-color: $uid-white;
  }
}

.instructor {
  &__thumbnail {
    border-radius: 50px;
  }

  &__info {
    margin-left: 1rem;
  }
}

.thumbnail {
  height: 134px;
  width: 240px;
}
