@import 'settings/colors';
@import 'utilities/text';

.login {
  height: 100%;

  &__brand {
    height: 100%;

    background-color: $uid-primary;
  }
}

.mat-form-field {
  width: 100%;
}

.mat-flat-button {
  height: 40px;
  width: 100%;
}

.title {
  @include large-text-light;
}

.subtitle {
  @include large-text-light;
}

.respect {
  color: $uid-light-primary;
}
