<div class="columns is-gapless level login">
  <div class="level-item section column is-half login__brand">
    <div class="container is-fluid has-text-centered">
      <svg xmlns="http://www.w3.org/2000/svg" width="200" viewBox="0 0 260.2 213.4">
        <path fill="#eb524f" d="M88.5.9c11.6 3.6 15.2 12.9 15.2 23.5-.1 8.4-1.1 16.8-3.1 25-4.3 18.7-9.6 37.2-14 55.8-3.6 15.3-6.9 30.8-7 46.6.1 4.3.8 8.6 2 12.7 2.3 8.2 9.2 8.8 14.4 3.8 3.3-3.2 6.3-6.6 9-10.3 13-17.3 24.5-35.7 34.3-55 9.5-18.5 31.2-60.3 32.5-62.8 6.8-12.5 25.6-10.4 31.3 1.8 3.2 6.6 5 13.9 5.3 21.2.5 15.8 2 59.9 2.7 66.2 1.3 12.2 9.1 16.1 19.5 9.3 6.3-4.1 12-9.3 17.7-14.2 5.3-4.7 8.1-4.2 10.7 2.4 2.3 5.8 1.3 11.6-.6 17.1-6.4 18.6-20.3 28.5-38.8 32.5-5.9 1.3-12 1.4-18 .4-13.3-2.2-21.8-9.9-26.9-21.8-4.9-11.5-6.4-44.2-7.5-48.4-1.8 3.8-23.1 47.7-34.3 64.4-7 10.7-15.5 20.4-25.3 28.7-9.7 8.1-20.7 13.1-33.6 13.4-15.6.4-26.9-6.7-34.7-19.9-5-8.5-7.1-18-7.8-27.8-1-13.7 1.2-27.1 4.2-40.5 1-4.3 1.7-8.7 2.8-14.2-4.3 2.2-7.1 4.2-10.3 5.3-3.8 1.3-7.9 2.6-11.9 2.5C2.1 118.2 0 102.5 0 99.9c4.8-3.7 9.9-7.1 14.3-11.1 21-19 36.8-41.8 48.2-67.6C66.3 12.7 71 5.4 79.4.9c2.8-1.2 5.3-1.3 9.1 0z" />
      </svg>
      <h1 class="title is-spaced is-1">Udemy Downloader</h1>
      <h6 class="subtitle is-6">Please do not share downloaded contents. <strong class="respect">#RespectContentCreators</strong></h6>
    </div>
  </div>

  <div class="level-item section column is-half">
    <form class="column is-5" [formGroup]="form">
      <div class="field">
        <div class="control">
          <mat-form-field>
            <input type="email" matInput formControlName="email" placeholder="Email" />
            <mat-icon matSuffix svgIcon="email" color="primary"></mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <mat-form-field>
            <input type="password" matInput formControlName="password" placeholder="Password" />
            <mat-icon matSuffix svgIcon="lock" color="primary"></mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button mat-flat-button color="primary">Log in</button>
        </div>
      </div>
    </form>
  </div>
</div>
