// *----------------------------------*\
//  Utilities > Text
// *----------------------------------*/

@import 'settings/colors';

@mixin large-text-dark {
  color: $uid-black;
  opacity: 0.87;
}

@mixin large-text-light {
  color: $uid-white;
  opacity: 0.87;
}
